<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ColorPickerWPF" version="1.0.7" targetFramework="net461" />
  <package id="HelixToolkit" version="1.0.0" targetFramework="net461" />
  <package id="HelixToolkit.Wpf" version="1.0.0" targetFramework="net461" />
  <package id="ILNumerics" version="4.8.0.0" targetFramework="net461" />
  <package id="ILNumerics.Native" version="3.2.0" targetFramework="net461" />
  <package id="WriteableBitmapEx" version="1.5.0.0" targetFramework="net461" />
</packages>