<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ColorPickerWPF" version="1.0.7" targetFramework="net461" />
  <package id="HelixToolkit" version="1.0.0" targetFramework="net461" />
  <package id="HelixToolkit.Wpf" version="1.0.0" targetFramework="net461" />
  <package id="ILNumerics" version="4.8.0.0" targetFramework="net461" />
  <package id="ILNumerics.Native" version="3.2.0" targetFramework="net461" />
  <package id="InteractiveDataDisplay.WPF" version="1.0.0" targetFramework="net461" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net461" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net461" />
  <package id="Microsoft.Maps.MapControl.WPF" version="1.0.0.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="System.Reactive" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.PlatformServices" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.Windows.Threading" version="3.1.1" targetFramework="net461" />
  <package id="WriteableBitmapEx" version="1.5.0.0" targetFramework="net461" />
</packages>